**/main.*
!**/main.pdf
!**/main.tex
*.aux
*.log
*.toc
*.fls
*.pre
*.out
*.synctex.gz
*.fdb_latexmk
*.auxlock
*.dvi
*.lo*
*.dpth
*.md5
figures/*.tex
figures/*.ps
homology-notes/figures/*
!homology-notes/figures/*.tex
homology-notes/figures/*barycentric*
**/auto/
